.loadingTextContainer {
    width: 150px;
    height: 20px;
    border-radius: 7.5px;
    position: relative;
    overflow: hidden;
}

.loadingText {
    height: 100%;
    width: 220%;
    left: -120%;
    background-image: linear-gradient(90deg, gray 45%, lightgray 50%, gray 55%);
    animation: running-gradient ease-out infinite 2s;
    -webkit-animation: running-gradient ease-out infinite 2s;
    position: absolute;
}

@keyframes running-gradient {
    0% {
        left: -120%
    }

    100% {
        left: 0px
    }
}

@-webkit-keyframes running-gradient {
    0% {
        left: -120%
    }

    100% {
        left: 0px
    }
}